module7/obj/Debug/net8.0/module7.GlobalUsings.g.cs
module7/obj/Debug/net8.0/module7.GeneratedMSBuildEditorConfig.editorconfig
module7/obj/Debug/net8.0/module7.assets.cache
module7/obj/Debug/net8.0/module7.AssemblyInfoInputs.cache
module7/obj/Debug/net8.0/module7.AssemblyInfo.cs
module7/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
module7/obj/project.nuget.cache
module7/obj/project.assets.json
module7/obj/module7.csproj.nuget.g.targets
module7/obj/module7.csproj.nuget.g.props
module7/obj/module7.csproj.nuget.dgspec.json
.vscode/settings.json
module7/obj/Debug/net8.0/apphost
module7/bin/Debug/net8.0/module7
module7/bin/Debug/net8.0/module7.deps.json
module7/bin/Debug/net8.0/module7.dll
module7/bin/Debug/net8.0/module7.pdb
module7/bin/Debug/net8.0/module7.runtimeconfig.json
module7/obj/Debug/net8.0/module7.csproj.CoreCompileInputs.cache
module7/obj/Debug/net8.0/module7.csproj.FileListAbsolute.txt
module7/obj/Debug/net8.0/module7.dll
module7/obj/Debug/net8.0/module7.genruntimeconfig.cache
module7/obj/Debug/net8.0/module7.pdb
module7/obj/Debug/net8.0/module7.sourcelink.json
module7/obj/Debug/net8.0/ref/module7.dll
module7/obj/Debug/net8.0/refint/module7.dll
module7/obj/
module7/bin/